* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 90%;
}
.exercise h1 {
  font-size: 80px;
  text-align: center;
  color: #353535;
  padding-top: 30px;
}
.exercise h2 {
  text-align: center;
  padding: 30px;
  color: orange;
  font-size: 50px;
}
.exercise table,
.exercise p {
  font-size: 30px;
}
.exercise table input {
  width: 200px;
  height: 30px;
  font-size: 22px;
  transition: all 0.5s;
}
.exercise table input:hover {
  border: 1px solid red;
}
.exercise button {
  background-color: greenyellow;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  transition: all 1s;
}
.exercise button:hover {
  background-color: green;
  color: white;
}
header h1 {
  font-size: 80px;
}
.exercise ul .nav-item {
  width: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
